/* write your override styles here */
#wall .tag-1 {/*Tag 1*/
  display: none;
}

{/*Tag 2*/
  display: none;
}

#wall #tag-3.'slick wicked'{/*Tag 3*/
  display: none;
}

{/*Tag 4*/
  display: none;
}

{/*Tag 5*/
  display: none;
}

{/*Tag 6*/
  display: none;
}

{/*Tag 7*/
  display: none;
}

/*
#wall div{
  display: none;
}
*/
