/* write your override styles here */
#wall .tag-1 {/*Tag 1 Done*/
  display: none;
}




#wall  #tag-2 {/*Tag 2*/
  display: none;
}





div#wall #tag-3 .slick {/*Tag 3*/
  display: none;
}

#wall #tag-4 {/*Tag 4*/
  display: none;
}

div#wall .parent #tag-5.slick {/*Tag 5*/
  display: none;
}

div#wall div.parent div:last-child div#tag-6 {/*Tag 6*/
  display: none;
}

body div#wall div.parent div > #tag-7.slick {/*Tag 7*/
  display: none;
}

/*
#wall div{
  display: none;
}
*/
